<div class="container">
  <div class="ui-g">
    <form autocomplete="off" (ngSubmit)="search()">
      <div class="ui-g-12">
        <h1>Lançamentos</h1>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label for="description">Descrição</label>
        <input pInputText type="text" id="description" name="postingDescription" [(ngModel)]="postingDescription">
      </div>

      <div class="ui-g-12">
        <label style="display: block" for="from">Vencimento</label>
        <p-calendar id="from" dateFormat="dd-mm-yy" [inputStyle]="{ width: '95px' }" name="dueDateFrom"
          [(ngModel)]="dueDateFrom"></p-calendar>

        <label for="to">Até</label>
        <p-calendar id="to" dateFormat="dd-mm-yy" [inputStyle]="{ width: '95px' }" name="dueDateTo"
          [(ngModel)]="dueDateTo"></p-calendar>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Pesquisar"></button>
      </div>
    </form>
  </div>

  <div class="ui-g">
    <div class="ui-g-12">
      <app-posting-grid [postings]="postings"></app-posting-grid>
    </div>

    <div class="ui-g-12">
      <a pButton type="submit" label="Novo Lançamento"></a>
    </div>
  </div>
</div>
