<div class="container">
  <form action="">
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Novo lançamento</h1>
      </div>
    </div>

    <div class="ui-fluid ui-g-6 ui-md-3">
      <label for="">Vencimento</label>
      <input pInputText type="text">
    </div>

    <div class="ui-fluid ui-g-6 ui-md-3">
      <label for="">Recebimento</label>
      <input pInputText type="text">
    </div>

    <div class="ui-fluid ui-g-12 ui-md-9">
      <label for="">Descrição</label>
      <input pInputText type="text">
    </div>

    <div class="ui-fluid ui-g-12 ui-md-3">
      <label for="">Valor</label>
      <input pInputText type="text" placeholder="0,00">
    </div>

    <div class="ui-fluid ui-g-12 ui-md-6">
      <label for="">Categoria</label>
      <input pInputText type="text">
    </div>

    <div class="ui-fluid ui-g-12 ui-md-6">
      <label for="">Pessoa</label>
      <input pInputText type="text">
    </div>

    <div class="ui-fluid ui-g-12">
      <label for="">Observação</label>
      <textarea pInputTextarea rows="3"></textarea>
    </div>

    <div class="ui-g-12">
      <button pButton type="submit" label="Salvar"></button>
      <button pButton type="button" label="Novo" class="ui-button-info"></button>
      <a href="javascript:;">Voltar para a pesquisa</a>
    </div>
  </form>
</div>
