<p-dataTable [value]="persons" [paginator]="true" [responsive]="true" [rows]="personFilter.itensPerPage" [lazy]="true"
  [totalRecords]="totalRecords" (onLazyLoad)="onPaging($event)" emptyMessage="Nenhuma pessoa encontrada" #personTable>
  <p-column field="personName" header="Nome"></p-column>
  <p-column field="address.city" header="Cidade"></p-column>
  <p-column field="address.addressState" header="Estado"></p-column>
  <p-column field="active" header="Status">
    <ng-template let-person="rowData" pTemplate="body">
      <a class="col-status-link" *ngIf="person.active" pTooltip="Inativar" tooltipPosition="top" href="javascript:;" (click)="changeStatus(person.id, false)">Ativo</a>
      <a class="col-status-link" *ngIf="!person.active" pTooltip="Ativar" tooltipPosition="top" href="javascript:;" (click)="changeStatus(person.id, true)">Inativo</a>
    </ng-template>
  </p-column>
  <p-column styleClass="col-action">
    <ng-template pTemplate="body" let-person="rowData">
      <a pButton icon="fa-pencil" pTooltip="Editar" tooltipPosition="top" href=""></a>
      <button pButton icon="fa-trash" pTooltip="Excluir" tooltipPosition="top" (click)="delete(person.id)"></button>
    </ng-template>
  </p-column>
</p-dataTable>
