<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <h1>Pessoas</h1>
    </div>

    <div class="ui-g-12 ui-fluid">
      <label for="personName">Nome</label>
      <input pInputText type="text" id="personName">
    </div>

    <div class="ui-g-12">
      <button pButton type="submit" label="Pesquisar"></button>
    </div>
  </div>

  <div class="ui-g">
    <div class="ui-g-12">
      <app-person-grid [persons]="persons"></app-person-grid>
    </div>

    <div class="ui-g-12">
      <a pButton type="submit" label="Novo Lançamento"></a>
    </div>
  </div>
</div>
